<form id="post-form">
  <input type="hidden" name="post[box_id]" value="
    <% if (typeof box !== 'undefined') { %>
      <%= box.get("id") %>
    <% } %>
  ">

  <input type="hidden" name="post[user_id]" value="<%= CURRENT_USER_ID %>">

  <label id="reply-to">reply to post#:
    <input type="text" name="post[post_id]">
  </label><br>

  <br><label>message:<br>
    <textarea name="post[body]"></textarea>
  </label><br>

  <br><label>add link:
    <input type="text" name="post[link]">
  </label><br>

  <br>sign as:<br>
  <label>
    <input type="radio" name="post[signature]" value="<%= CURRENT_USER_USERNAME %>" checked>
    username</label><br>
  <label>
    <input type="radio" name="post[signature]" value="anonymous">
    anonymous</label><br>

  <br>post position:<br>
  <label>
    <input type="radio" name="post[align]" value="left">
      left</label><br>
  <label>
    <input type="radio" name="post[align]" value="center" checked>
      center</label><br>
  <label>
    <input type="radio" name="post[align]" value="right">
      right</label><br>

  <br><input type="submit" value="add post">
</form>