<style>
  #app-summary {
    width: 625px;
    margin: auto;
  }

  #app-summary h1 {
    margin-top: 0;
    padding-top: 20px;
  }

  #app-summary p, #app-summary ul {
    margin-left: 20px;
  }

  #app-summary a {
    color: darkGray;
  }
</style>

<div id="app-summary">
<h1 id="welcometolotsofboxes">Welcome to Lots of Boxes</h1>

<p><a href="http://www.lotsofbox.us">Lots of Boxes</a> is an interactive message board featuring different types of "boxes," or topic threads.</p>

<h3 id="exerciseyourfreedomofspeech">Exercise your freedom of speech</h3>

<p>Create a new <a href="http://www.lotsofbox.us/soapboxes">SoapBox</a> to start a public discussion about a topic of your choice. On the main SoapBoxes page, threads are organized by most recent activity. Heated discussions are likely to remain near the top of the page, but newly-created SoapBoxes will also appear at the top.</p>

<h3 id="protectyourprivacy">Protect your privacy</h3>

<p><a href="http://www.lotsofbox.us/lockboxes">LockBoxes</a> are password-protected. After you create a new LockBox, you can either share its credentials with other users whom you would like to give access to, or keep it as a personal repository of data for yourself. From the main LockBoxes page, threads that you have authored will appear on the left, and those you have been granted access to will appear on the right.</p>

<h4 id="worriedaboutrevealingyouridentity">Worried about revealing your identity?</h4>

<p>With every post you make to a SoapBox or a LockBox, you will have the choice of signing either with your username or as "anonymous" (username by default).</p>

<h3 id="conversewithfriends">Converse with friends</h3>

<p>When you and another user add each other as contacts, a conversation will be initiated in your <a href="http://www.lotsofbox.us/mailboxes">MailBox</a>. From here you can send private messages to each other directly. (To start a group conversation between many friends, use a LockBox.)</p>

<h3 id="thinkinsidethebox">Think inside the box...</h3>

<p>Want to keep tabs on a particularly interesting discussion? If you're in a SoapBox, click the "follow" button and any new posts to the thread will appear at the top of your <a href="http://www.lotsofbox.us/inbox">InBox</a>, along with new posts from your LockBoxes and your MailBox.</p>

<p>When responding to a thread, you can also reply directly to a previous post; when a "reply-to" reference is clicked, you will jump directly to that post's position in the thread.</p>

<h4 id="andoutsidethebox">...and outside the box</h4>

<p>When posting to a thread, you have the option to include a link to an external webpage.</p>

<p>Every post you author will be saved in your <a href="http://www.lotsofbox.us/outbox">OutBox</a>. From here you can delete any incriminating or embarrassing posts.</p>

<h3 id="pickaside">Pick a side</h3>

<p>Lots of Boxes supports a novel post-alignment feature. If you respond to a SoapBox or a LockBox, you will have the choice of aligning your post to the left, right, or center of the page (center by default). This is useful, for example, in a debate where there are two opposing sides. Within a MailBox conversation, your posts will appear on the left, the other user's on the right.</p>

<p>SoapBox previews on the main page will display the content of their most recent post, and will also adopt alignment on the page from this last post.</p>

<h2 id="languagesandtechnologies">Languages and technologies</h2>

<p>The following were used in the development of this application:</p>

<ul style="list-style: square">
<li>Ruby on Rails</li>
<li>RSpec</li>
<li>JavaScript</li>
<li>jQuery</li>
<li>Underscore.js</li>
<li>Backbone.js</li>
<li>PostgreSQL</li>
<li>BCrypt</li>
<li>HTML5</li>
<li>CSS</li>
<li>Git</li>
<li>Heroku</li>
<li>New Relic</li>
</ul>

<h3 id="comingsoon">Coming soon</h3>
</div>