/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*html {
  height: 100%;
  width: 100%;
}*/

body {
  background: url('/assets/use_your_illusion.png') fixed;
  padding: 0;
  border: 0;
  margin: 0;
  color: burlyWood;
  font-family: sans-serif;
/*  height: 100%;*/
}

a {
  text-decoration: none;
  color: burlyWood;
}

a:hover {
  text-decoration: underline;
}

.errors {
  background: fireBrick;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* sidebar */
.sidebar-area {
  float: left;
  position: fixed;
  height: 100%;
}

.sidebar {
  width: 150px;
}

.sidebar-item {
  text-align: center;
  display: block;
  margin-bottom: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background: steelBlue;
  height: 30px;
}

#sidebar-items li {
  transition: text-align, margin-right, opacity, 0.5s;
  -webkit-transition: text-align, margin-right, opacity, 0.5s;
  margin-right: 20px;
  opacity: 0.75;
}

#sidebar-items li:hover {
  margin-right: 0;
  opacity: 1;
  text-align: right;
}

#sidebar-items li a:hover {
  text-decoration: none;
}

#sidebar-items li a:hover span {
  display: inline;
  color: burlyWood;
}

#sidebar-items #auth-info {
  text-align: left;
  margin-right: 0;
  height: 90px;
}

#sidebar-items li a {
  padding: 7px 10px;
  display: block;
}

#sidebar-items li a span {
  transition: display, color, 0.5s;
  -webkit-transition: display, color, 0.5s;
  display: none;
  color: transparent;
  float: left;
}

#add-form {
  text-align: left;
  background: midnightBlue;
  color: indianRed;
  position: fixed;
  top: 0;
  left: -220px;
  width: 160px;
  height: calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  padding: 25px;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;
  overflow: auto;
}

#add-form input, #add-form textarea {
  background: midnightBlue;
  color: indianRed;
}

#add-form input[type="text"], #add-form input[type="password"] {
  width: 75px;
}

#add-form #reply-to input {
  width: 50px;
}

#add-form h4 {
  margin: 0;
}

#add-li:hover #add-form {
  left: 0;
}

/* fine print */
.fine-print {
  position: absolute;
  z-index: -1;
}

#bg-credit, #bg-credit a {
  font-size: x-small;
  text-align: left;
  color: darkGray;
}

#cesario, #cesario a {
  font-size: medium;
  right: 20px;
  bottom: 0;
  text-align: right;
  color: indianRed;
}

/* content */
#content-container {
  margin-left: 220px;
}

.content {
  width: 625px;
  background: rgba(169, 169, 169, 0.25);
  margin: auto;
  padding: 10px 10px 20px 10px;
}

/* index view */
.index {
  background: rgba(169, 169, 169, 0.25);
}

.index h1 em {
  font-size: x-large;
  font-style: italic;
}

.box-preview {
  background: darkCyan;
  width: 375px;
  margin-top: 1em;
  margin-bottom: 1em;
  opacity: 0.5;
  padding: 10px;
}

.box-preview:hover {
  opacity: 1;
}

/* show view */
.box {
  background: rgba(0, 139, 139, 0.25);
}

.box h2 em {
  font-size: large;
  font-style: italic;
}

.post {
  background: cadetBlue;
  width: 375px;
  margin-top: 1em;
  margin-bottom: 1em;
  opacity: 0.7;
  padding: 10px;
}


/* alignment */

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* hiding/displaying follow/unfollow buttons */
h2 button.follow {
  display: inline;
}

h2 button.unfollow {
  display: none;
}

h2.following button.follow {
  display: none;
}

h2.following button.unfollow {
  display: inline;
}