/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*html {
  height: 100%;
  width: 100%;
}*/

body {
  background:
    url('/assets/use_your_illusion.png') fixed;
    margin: 0;
  color: burlyWood;
  font-family: sans-serif;
/*    height: 100%;*/
}

a {
  text-decoration: none;
  color: burlyWood;
}

a:hover {
  text-decoration: underline;
}

.errors {
  background: fireBrick;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-area {
  float: left;
  position: fixed;
}

.sidebar {
  border: 1px solid black;
  width: 250px;
}

#sidebar-items li {
  display: block;
  border: 1px solid black;
}

#soapboxes-li, #lockboxes-li, #mailboxes-li, #inbox-li, #outbox-li {
  height: 30px;
}

#auth-info, #add-li, #refresh-li {
  height: 90px;
}

#auth-info {
  background: steelBlue;
/*  opacity: 0.5;*/
}

#sidebar-items li a {
  background: steelBlue;
/*  opacity: 0.5;*/
  display: block;
  height: 100%;
}

#add-form {
  color: black;
  position: fixed;
  top: 0;
  width: 300px;
  height: 600px;
  background: white;
  display: none;
}

#add-li:hover #add-form {
  display: block;
/*  position: relative;*/
}

.content {
  width: 625px;
/*  height: 100%;*/
  background: rgba(169, 169, 169, 0.25);
  margin-left: auto;
  margin-right: 125px;
  padding: 10px 10px 20px 10px;
}

.index {
  background: rgba(169, 169, 169, 0.25);
}

.box {
  background: rgba(0, 139, 139, 0.25);
}

.box-preview {
  background: darkCyan;
  width: 375px;
  margin-top: 1em;
  margin-bottom: 1em;
  opacity: 0.5;
  padding: 10px;
}

.box-preview:hover {
  opacity: 1;
}

.post {
  background: cadetBlue;
  width: 375px;
  margin-top: 1em;
  margin-bottom: 1em;
  opacity: 0.7;
  padding: 10px;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h2 button.follow {
  display: inline;
}

h2 button.unfollow {
  display: none;
}

h2.following button.follow {
  display: none;
}

h2.following button.unfollow {
  display: inline;
}