/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background:
    url('/assets/use_your_illusion.png');
}

.errors {
  background: red;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-area {
  float: left;
  width: 375px;
  height: 100%;
  position: fixed;
  border: 1px dashed black;
}

.sidebar {
  border: 1px solid black;
  width: 250px;
}

#sidebar-items li {
  display: block;
  border: 1px solid black;
}

#soapboxes-li, #lockboxes-li, #mailboxes-li, #inbox-li, #outbox-li {
  height: 30px;
}

#auth-info, #add-li, #refresh-li {
  height: 90px;
}

#auth-info {
  background: pink;
}

#sidebar-items li a {
  background: yellow;
  display: block;
  height: 100%;
}

.content {
  float: left;
  width: 625px;
  height: 1000px;
  background: gray;
  margin-left: 375px;
}

.box-preview {
  background: lightBlue;
  width: 375px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.post {
  background: lightBlue;
  width: 375px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
